/* CSS Document */


body,ul,li,div{margin:0;padding:0;}
img{border:0;}
li{list-style:none;}
html{width:100%;height:100%;}
body{/*background:url(image/hxd_bg.gif) repeat-x;*/background:url(image/f9.jpg) no-repeat 0 0 /cover;width:100%;height:100%;}

#pic{position:relative;overflow:hidden;height:300px;width:1000px;z-index:2;margin:0 auto;50px}
#pic ul{width:100%;height:100%;position:absolute;top:0;left:0;}
#pic ul li{position:absolute;}
#pic ul img{position:relative;top:0;left:0;}

body,ul,li,div{margin:0;padding:0;}
img{border:0;}
li{list-style:none;}
html{width:100%;height:100%;}
body{/*background:url(image/hxd_bg.gif) repeat-x;*/background:url(image/f9.jpg) no-repeat 0 0 /cover;width:100%;height:100%;}
#pic{position:relative;overflow:hidden;height:300px;width:1000px;z-index:2;margin:0 auto 50px ;}
#pic ul{width:100%;height:100%;position:absolute;top:0;left:0;}
#pic ul li{position:absolute;}
#pic ul img{position:relative;top:0;left:0;}
/*Í¼Æ¬Î»ÖÃ*/
#pic ul .pic1{top:-80px;left:2px;z-index:1;}
#pic ul .pic2{top:110px;left:88px;z-index:2;}
#pic ul .pic3{top:80px;left:174px;z-index:3;}
#pic ul .pic4{top:50px;left:260px;z-index:4;}
#pic ul .pic5{top:80px;left:436px;z-index:3;}
#pic ul .pic6{top:110px;left:700px;z-index:2;}
#pic ul .pic7{top:-180px;left:696px;z-index:1;}

/*Í¼Æ¬A±êÇ©widthºÍheight*/
#pic ul .pic1 a{height:60px;width:96px;}
#pic ul .pic2 a{height:180px;width:288px;}
#pic ul .pic3 a{height:240px;width:384px;}
#pic ul .pic4 a{height:300px;width:480px;}
#pic ul .pic5 a{height:240px;width:384px;}
#pic ul .pic6 a{height:180px;width:288px;}
#pic ul .pic7 a{height:180px;width:288px;}

/*Í¼Æ¬Ã÷°µ*/
#pic ul li.pic1{opacity:0.2;filter:alpha(opacity:20);}
#pic ul li.pic2{opacity:0.6;filter:alpha(opacity:60);}
#pic ul li.pic3{opacity:0.9;filter:alpha(opacity:90);}
#pic ul li.pic4{opacity:1;filter:alpha(opacity:100);}
#pic ul li.pic5{opacity:0.9;filter:alpha(opacity:90);}
#pic ul li.pic6{opacity:0.6;filter:alpha(opacity:60);}
#pic ul li.pic7{opacity:0.2;filter:alpha(opacity:20);}

/*Í¼Æ¬width*/
#pic ul li.pic1 img{width:96px;}
#pic ul li.pic2 img{width:288px;}
#pic ul li.pic3 img{width:384px;}
#pic ul li.pic4 img{width:480px;}
#pic ul li.pic5 img{width:384px;}
#pic ul li.pic6 img{width:288px;}
#pic ul li.pic7 img{width:288px;}


/*¼ýÍ·²¿·Ö*/
#pic span{display:inline-block;*display:inline;*zoom:1;width:80px;height:80px;position:absolute;top:160px;z-index:30;cursor:pointer;opacity:0.7;filter:alpha(opacity=70);}
#pic:hover span{opacity:1;filter:alpha(opacity=100);}
#pic span img{width:80px;height:80px;display:block;}
#pic span.prev{left:200px;}
#pic span.next{right:120px;}
